<%= form_with model: @note do |f| %>
    <div id="editor-holder" data-controller="tiptap"  data-tiptap-notes-url=<%= notes_url %> class="element">
        <% if @note.new_record? %> 
            <%= f.hidden_field :body, data: {tiptap_target: "input"} %>
            <%= f.text_field :title, placeholder: "Titulo de nota", id: "title" %>
            <p class="note-data">Ultima modificacion: <%= Time.new.ctime %></p>
        <% else %> <!-- SI LA NOTA NO ES NUEVA, SE DEBEN CARGAR SUS DATOS EN EL EDITOR -->
            <%= f.hidden_field :body, data: {tiptap_target: "input"}, value: @note.body %>
            <%= f.text_field :title, placeholder: "Titulo de nota", id: "title", value: @note.title %>
            <p class="note-data">Ultima modificacion: <%= @note.updated_at %></p>
            <%= render "notes/shared/link_note_form", note: @note, note_form: f %>
            <div id='pointer-edges'>
              <%= f.fields_for :pointers do |pointers_f| %>
                <%= render 'edges/form', f: pointers_f %>
              <% end %>
            </div>
            <div id="added-images">
            </div>
            <div id="persisted-images">
              <% @note.images.each_with_index do |image| %>
                <%= image.checksum %>
                <%= image_tag image, id: "image#{image.id}", class: 'hidden' %>
              <% end %>
            </div>
        <% end %>
        <%= render "notes/shared/tiptap_editor" %>
        <div id="bottom-bar">
            <ul>
                <li>
                  <% if @note.persisted? %>
                    <%= link_to raw("<i class=\"cil-trash\"></i>"), @note, data: { 'turbo-method': :delete },
                                class: 'icon-container' %>
                  <% end %>
                </li>
                <li><%= f.submit "Guardar" %></li>
            </ul>
        </div>
    </div>
<% end %>