<% #turbo_stream.update "filtered-notes", @match_notes, partial: "notes/shared/match_notes" %>
<turbo-stream action="update" target="filtered-notes">
  <template>
    <% if @match_notes.empty? %>
      <p>No se encontro ninguna coincidencia</p>
    <% else %>
      <%= form_with url: ""  do |f| %>
        <% @match_notes.each do |note| %>
          <%= f.radio_button :note, note.id %>
          <%= f.label "note_#{note.id}".to_sym, note.title %>
        <% end %>
        <script type="text/javascript">
            editor = document.getElementsByClassName("ProseMirror")[0];
            const notesUrl = '<%= notes_url %>'
            async function appendLinkToEditor(){
                const selectedNoteId = getCheckedLinkNote().value;
                const selectedNote = await getNote(selectedNoteId);
                const appendRequest  = new CustomEvent('appendLink', { detail: {note: selectedNote}});
                editor.dispatchEvent(appendRequest);
            }
            function getCheckedLinkNote(){
                let notesElems = Array.from(document.getElementById('filtered-notes').children[0].children)
                return notesElems.filter(elem => elem.checked)[0]
            }
            async function getNote(id){
                const noteUrl = notesUrl+`/${id}`
                const noteResponse = await fetch(noteUrl)
                let note = await noteResponse.json();
                note.url = noteUrl
                return note;
            }
        </script>
        <%= button_tag 'Enlazar', onclick: 'appendLinkToEditor(); return false;', type: 'button' %>
      <% end %>
    <% end %>
  </template>
</turbo-stream>