<%= content_for :head do %>
  <%= stylesheet_link_tag 'linker', 'data-turbo-track': 'reload' %>
<% end %>
<div class="note-linker">
  <%= turbo_frame_tag id="filter-notes" do %>
    <%= form_with url: get_notes_by_title_path, method: :get do |f| %>
      <%= f.label :title_query, 'Título:'%>
      <%= f.text_field :title_query %>
      <%= f.submit 'Buscar' %>
    <% end %>
  <% end %>
  <div id="filtered-notes">
  </div>
</div>