<%= render "notes/shared/link_note_form" if @note.id %>
<%= form_with model: @note do |f| %>
    <div id="editor-holder" data-controller="tiptap" class="element">
        <% if @note.new_record? %> 
            <%= f.hidden_field :body, data: {tiptap_target: "input"} %>
            <%= f.text_field :title, placeholder: "Titulo de nota", id: "title" %>
            <p class="note-data">Ultima modificacion: <%= Time.new.ctime %></p>
        <% else %> <!-- SI LA NOTA NO ES NUEVA, SE DEBEN CARGAR SUS DATOS EN EL EDITOR -->
            <%= f.hidden_field :body, data: {tiptap_target: "input"}, value: @note.body %>
            <%= f.text_field :title, placeholder: "Titulo de nota", id: "title", value: @note.title %>
            <p class="note-data">Ultima modificacion: <%= @note.updated_at %></p>
        <% end %>
        <%= render "notes/shared/tiptap_editor" %>
        <div id="bottom-bar">
            <ul>
                <%= link_to raw("<i class=\"cil-trash\"></i>"), @note, data: { 'turbo-method': :delete },
                            class: 'icon-container' %>
                <li><%= f.submit "Guardar" %></li>
            </ul>
        </div>
    </div>
<% end %>