<div id="editor-tools">
  <div class="edit-style large">
    <button data-action="tiptap#bold" id="bold" type="button"><b>N</b></button>
    <button data-action="tiptap#italicize" id="italic" type="button"><i>I</i></button>
    <button data-action="tiptap#underline" id="underline" type="button"><u>U</u></button>
    <button data-action="tiptap#strike" id="strike" type="button"><s>S</s></button>
    <button id="link" type="button"><u>URL</u></button>
    <div class="toolbox" id="url-box">
      <div id="toolbox-top">
        <h3>Crear un enlace</h3>
        <button class="tool-button transparent" type="button" onclick="this.parentElement.parentElement.style.display = 'none';">X</button>
      </div>
      <%= form_with id: 'url-form' do |f| %>
        <%= f.label :url, 'Introduzca una url:' %>
        <%= f.url_field :url %>
        <%= f.label :url_name, 'Introduzca un nombre:' %>
        <%= f.url_field :url_name %>
        <button id="set-url" class="send" type="button">Ok</button>
      <% end %>
    </div>
    <button data-action="tiptap#addUl" id="bulletList" type="button"><i class="edit-icon cil-list"></i></button>
    <button data-action="tiptap#addOl" id="orderedList" type="button"><i class="edit-icon cil-list-numbered"></i></button>
  </div>
  <div class="edit-style small">
    <button type="button" id="cancel-button">Cancelar</button>
    <button data-action="tiptap#listenNote" type="button" id="recognizationButton">Escuchar nota</button>
    <button data-action="tiptap#fillNoteWithSpeech" type="button" id="speechToTextButton">Voz a texto</button>
  </div>
  <div class="edit-style medium">
    <button data-action="tiptap#linkNote" type="button">Enlazar nota</button>
    <%= turbo_frame_tag :image_catcher do %>
      <%= form_with url: new_image_note_path, method: 'post', id:'new-image-form', class: 'toolbox-form', multipart: true do |f| %>
        <%= f.submit id: 'new-img-submit', hidden: true %>
        <%= f.file_field :new_image, id:'new-image-input', hidden: true %>
        <button data-action="tiptap#addImage" type="button">Agregar imagen</button>
      <% end %>
    <% end %>
    <!-- <button>Add link</button> -->
  </div>
  <!-- div class="edit-style small">
      <button data-action="tiptap#logJSON">DEBUG</button>
  </div> -->
</div>
