<% class_string = class_list&.join(' ') %>
<% tool_display = 'none' %>
<% tool_display = display if display %>
<div class="toolbox <%= class_string %>" id="<%= caller_id %>" style="display: <%= tool_display %> !important;">
  <div id="toolbox-top">
    <span><%= tool_title %></span>
    <button class="tool-button transparent" type="button" onclick="this.parentElement.parentElement.style.display = 'none';">X</button>
  </div>
  <div>
    <%= yield :toolbox_content %>
  </div>
</div>