<%= form_with model: @note do |f| %>                      
    <div id="editor-holder" data-controller="tiptap" data-action="linkReq@window->tiptap#addNoteLink" class="element"> 
        <%= f.hidden_field :user_id, value: current_user.id %>     
        <% if @note.new_record? %> 
            <%= f.hidden_field :body, data: {tiptap_target: "input"} %>
            <%= f.text_field :title, placeholder: "Titulo de nota", id: "title" %>
            <p class="note-data">Ultima modificacion: <%= Time.new.ctime %></p>
        <% else %> <!-- SI LA NOTA NO ES NUEVA, SE DEBEN CARGAR SUS DATOS EN EL EDITOR -->
            <%= f.hidden_field :body, data: {tiptap_target: "input"}, value: @note.body %>
            <%= f.text_field :title, placeholder: "Titulo de nota", id: "title", value: @note.title %>
            <p class="note-data">Ultima modificacion: <%= @note.updated_at %></p>
        <% end %>
        <%= render "shared/tiptap_editor" %>
        <div id="bottom-bar">
            <ul>
                <li>options</li>
                <li class="flexchild_left">delete</li>
                <li><%= f.submit "Guardar" %></li>
            </ul>
        </div>
    </div>
<% end %>
<div id="addition-container" data-controller="linkmanager" data-action="showLinkHelper@window->linkmanager#showDiv">
    <p class="hidden" data-linkmanager-target="search_path"><%= notes_url + '/search/title=' %></p>
    <input class="search" data-linkmanager-target="query" placeholder="Inserte el nombre de la nota a enlazar"></input>
    <button data-action="linkmanager#sendQuery">Enviar</button>
    <button data-action="linkmanager#hideDiv">X</button>
    <p>Notas</p>
    <div id="results-container">
        <form data-linkmanager-target="results"></form>
    </div>
    <button data-action="linkmanager#linkEvent">Enlazar</button>
</div>