<%= stylesheet_link_tag "welcome", "data-turbo-track": "reload" %>
<div id="greeting">
    <h1>Bienvenid@, <%= current_user.first_name %>!</h1>
    Que vas a anotar hoy?
</div>
<div id="options-container">
    <div class="option">
        <a href="<%= notes_path %>">
            <i class="cil-notes icon"></i>
            <p>Consultar notas</p>
        </a>
    </div>
    <div class="option">
        <a href="<%= notes_path %>">
            <i class="cil-book icon"></i>
            <p>Manual</p>
        </a>
    </div>
    <div class="option">
        <a href="<%= new_note_path %>">
            <i class="cil-note-add icon"></i>
            <p>Nueva nota</p>
        </a>
    </div>
    <div class="option">
        <a href="<%= graph_notes_path %>">
            <i class="cil-graph icon"></i>
            <p>Vista de grafo</p>
        </a>
    </div>
</div>
<!-- <ul>
    <li><%= link_to "Crear nota", { :controller => :notes, :action => :new } %></li>
    <li><%= link_to "Grafo de notas", { :controller => :notes, :action => :graph_index } %></li>
    <li><%= link_to "Indice", { :controller => :notes, :action => :index, remote: true, method: :post} %></li>
</ul> -->